{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% block extrahead %}
    {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %} Documento {% endblock %}</title>
  </head>
  <body>

    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}

    {% block content %}
    <h5>Este es el contenido del archivo base</h5>
    {% endblock %}

    {% block footer %}
    <h5>Este es el footer</h5>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

  </body>
</html>
